<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="/css/add.css" />
    <link rel="stylesheet" href="/css/main.css" />  
    <link rel="stylesheet" href="/css/tools.css" />  
    <link rel="stylesheet" href="/css/passwords.css" />
    <link rel="stylesheet" href="/css/containers.css" />
    <link rel="stylesheet" href="/css/confirm.css" /> -->

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/menu.css" />
    <link rel="stylesheet" href="/styles/stickers.css" />
    <link rel="stylesheet" href="/styles/containers.css" />
    <link rel="stylesheet" href="/styles/info.css" />

    <title> Hyper Vault </title>
    
</head>
<script src="/scripts/serverCommunication.js"></script>
<script src="/scripts/popupBox.js"></script>
<script src="/scripts/Ratings.js"></script>

<body>

    <%- body %>

</body>

</html>