<div id="menu">
    <div class="menu-button" onclick="createContainer()"> <img class="menu-icon" src="/imgs/tools/plus.png" /> <p class="menu-text"> Create container </p> </div>
    <div class="menu-button" onclick="addPasswordSticker()"> <img class="menu-icon" src="/imgs/tools/addSticker.png" /> <p class="menu-text"> Add password </p> </div>
    <div class="menu-button" onclick="gotoAutoCloseSettings()"> <img class="menu-icon" src="/imgs/tools/autoClose.png" />  <p class="menu-text"> Auto close options </p> </div>
    <div class="menu-button"> <img class="menu-icon" src="/imgs/tools/help.png" /> <p class="menu-text"> Help </p> </div>
</div>



<script>

    function createContainer(){
        ServerCommunication.createContainer();
    }

    function addPasswordSticker(){
        ServerCommunication.createPasswordSticker();
    }

    function gotoAutoCloseSettings(){
        window.location.href = '/autoclose';
    }

</script>