<div id="fullscreen-fade">

    <div id="unlock-box">
        <input id="password-unlock-input" type="password" placeholder="enter password" />
        <button onclick="unlockContainer()"> UNLOCK </button>
    </div>

    <div id="lock-box">
        <input id="password-lock-input" type="password" placeholder="enter password" />
        <input id="repassword-lock-input" type="password" placeholder="retype password" />

        <button onclick="lockContainer()"> LOCK </button>
    </div>

</div>


<script>

  



</script>